<div class="container">
    
    <table class="table table-hover">
        <tr>
            <td>
                
                <button type="button" class="btn btn-primary" (click)="adminUploadFile()">Import Stock Prices</button>
                
            </td>
            <td>
                
                <button type="button" class="btn btn-primary" 
                (click)="adminManageCompany()">Manage Companies</button>
                
            </td>
            <td>
                
                <button type="button" class="btn btn-primary"
                (click)="adminManageExchange()">Manage Exchanges</button>
                
            </td>
            <td>
                
                <button type="button" class="btn btn-primary"
                (click)="adminManageIPO()">Manage IPO Details</button>
                
            </td>

            <td>
                
                <button type="button" class="btn btn-primary"
                (click)="adminManageSector()">Manage Sector</button>
                
            </td>


            <td>
                
                <button type="button" class="btn btn-primary" 
                style="font-size: 25px; background: rgb(233, 179, 78);" (click)="Logoff()"
                >Log Out</button>
                
            </td>
        </tr>
    </table>
    
</div>

<router-outlet></router-outlet>